{% extends "base.html" %}


{% block content %}
<body>



    <!-- Page content wrapper-->
    <div id="page-content-wrapper" class="w-100">


        <!-- section title ends -->
        <div class="row pt-1 px-5">
            <div class="col-md-10">
                <div class="media blog-media w-100">
                    <a href="blog-post-left-sidebar.html"><img class="d-flex"
                                                               src="https://www.bootdey.com/image/350x380/6495ED/000000"
                                                               alt="Generic placeholder image"></a>
                    <div class="circle">
                        <h5 class="day">14</h5>
                        <span class="month">sep</span>
                    </div>
                    <div class="media-body">
                        <a href=""><h5 class="mt-0">Standard Blog Post</h5></a>
                        Sodales aliquid, in eget ac cupidatat velit autem numquam ullam ducimus occaecati placeat error.
                        <a href="blog-post-left-sidebar.html" class="post-link">Read More</a>

                        <div class="row">
                            <div class="col-sm text-center">by: username</div>
                            <div class="col-sm text-center">Love: 10</div>
                            <div class="col-sm text-center"><a href="blog-post-left-sidebar.html">07 comments</a></div>
                            <div class="col-sm text-center">Date: 14.09.2023</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="row pt-1 px-5">
            <div class="col-md-10">
                <div class="media blog-media w-100">
                    <a href="blog-post-left-sidebar.html"><img class="d-flex"
                                                               src="https://www.bootdey.com/image/350x380/6495ED/000000"
                                                               alt="Generic placeholder image"></a>
                    <div class="circle">
                        <h5 class="day">9</h5>
                        <span class="month">sep</span>
                    </div>
                    <div class="media-body">
                        <a href=""><h5 class="mt-0">Standard Blog Post</h5></a>
                        Sodales aliquid, in eget ac cupidatat velit autem numquam ullam ducimus occaecati placeat error.
                        <a href="blog-post-left-sidebar.html" class="post-link">Read More</a>

                        <div class="row">
                            <div class="col-sm text-center">by: username</div>
                            <div class="col-sm text-center">Love: 10</div>
                            <div class="col-sm text-center"><a href="blog-post-left-sidebar.html">07 comments</a></div>
                            <div class="col-sm text-center">Date: 09.09.2023</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>

</div>

</body>
{% endblock %}

{% block scripts %}

{% endblock %}


